---
import Layout from '../layouts/Layout.astro';
---

<Layout title="HM Trockenbau - Professioneller Trockenbau" description="HM Trockenbau - Ihr zuverlässiger Partner für professionellen Trockenbau in Berlin und Umgebung.">
	<h1>Hallo Trockenbau!</h1>
	<p>Tailwind CSS v4 ist eingerichtet.</p>
</Layout>
